<!--Temporal Link -->

<link href="~/css/register.css" rel="stylesheet">

<script src="~/js/register.js"></script>


<h1>Register New Car</h1>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="register-form">


     <div class="form-group ">
      <label class="control-label requiredField" for="txt_dailyprice">
       DailyPrice
       
      </label>
      <input class="form-control" id="txt_dailyprice" name="txt_dailyprice" type="number"/>
     </div>

     <div class="form-group ">
      <label class="control-label requiredField" for="txt_year">
       Year
       
      </label>
      <input class="form-control" id="txt_year" name="txt_year" type="number"/>
     </div>

     <div class="form-group ">
      <label class="control-label requiredField" for="txt_make">
       Make
       
      </label>
      <input class="form-control" id="txt_make" name="txt_make" type="text"/>
     </div>

     <div class="form-group ">
      <label class="control-label requiredField" for="txt_model">
       Model
       
      </label>
      <input class="form-control" id="txt_model" name="txt_model" type="text"/>
     </div>

     <div class="form-group ">
      <label class="control-label requiredField" for="txt_passenger">
       PassengerCapacity
       
      </label>
      <input class="form-control" id="txt_passenger" name="txt_passenger" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_milage">
       Milage
       
      </label>
      <input class="form-control" id="txt_milage" name="txt_milage" type="number"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_imageurl">
       URL
       
      </label>
      <input class="form-control" id="txt_imageurl" name="txt_imageurl" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_stock">
       Stock
       
      </label>
      <input class="form-control" id="txt_stock" name="txt_stock" type="number"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_hp">
       HP
       
      </label>
      <input class="form-control" id="txt_hp" name="txt_hp" type="number"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_cyls">
       Cyls
       
      </label>
      <input class="form-control" id="txt_cyls" name="txt_cyls" type="number"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="txt_description">
       Description
       
      </label>
      <input class="form-control" id="txt_description" name="txt_description" type="text"/>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Save Car
       </button>
      </div>

      </div>
     